:root {
  --header: rgba(2, 15, 56, 0.97);
}
@media (max-width:1100px) {
  .abt-img{
    width: 100%;
  }
  .logo h1{
    padding: 0 30px;
  }
  header nav ul {
    gap: 50px;
  }
  .get-btn{
    justify-content: center;
    align-items: center;
    width: 100%;
  
  }
  .get-btn button{
     width: 100%;
     padding: 15px;
  }
}

@media (max-width: 870px) {
  header {
    justify-content: space-between;
  }

  header nav ul{
    gap: 25px;
  }
 
  .pro1-card > h2 > a{
    font-size: 25px;
  }
  .abt-img{
    width: 100%;
  }
}

@media (max-width: 768px) {

  header {
    justify-content: space-between;
    padding: 0 50px;
  }
 
  .main-menu{
    position: fixed;
    height: 50vh;
    top: 0;
    right: 0;
    left: 0;
    flex-direction: column;
    z-index: 999;
    padding-top: 40px;
    align-items: center;
    background-color: rgb(8, 8, 40);
    transition: top 1s ease;
    display: none;
}

.main-menu .icon{
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
}
.ham{
    display: block;
    position: absolute;
    align-items: center;
    justify-content: center;
    right: 20px;
}
  /* 

  /* ----profile section----- */
  .pro-sec {
      gap: 40px;
  }
  .profile {
    width: 90%;
    margin-top: 10%;
    text-align: center;
  }
  .profile
  .socials {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .pro-img > img {
    border: 2px solid white;
    border-radius: 50%;
    height: 50vh;
    width: 100%;
    margin-top: 10%;
    background-color: rgba(168, 123, 67, 0.192);
  }
  /* ------about section-------- */
  #abt-sec {
    margin-top: 10%;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }
  #abt-sec img {
    width: 60%;
    aspect-ratio: 1/1;
  }
  .abt-img{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .about {
    width: 100%;
  }
  .about > h2 {
    font-size: 35px;
    text-align: center;
    margin-top: -10px;
  }
  .about > p {
    font-size: 20px;
    text-align: center;
  }
  .abt-btn {
    text-align: center;
  }
  .abt-btn button {
    padding: 10px 35px;
  }
  #skills-sec h2{
    font-size: 25px;
  }
  /* -----project section---- */
  #project h2{
    font-size: 28px;
  }
  .pro1-card h3{
    font-size: 25px;
  }
  .foots {
    flex-direction: column;
  }
  .footer-msg{
    align-items: center;
    justify-content: center;
  }
  .footer-msg p{
    text-align: center;
  }
  .con-socials {
    display: flex;
    width: 100%;
    gap: 10px;
  }
  
  .cv p{
    font-size: 20px;
  }
  .copyright {
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  header {
    height: 60px;
  }
  .pro-sec{
    gap: 10px;
    margin-top: 20%;
  padding: 5%;
  }
  .pro-img{
    width: 100%;
  }
  .profile h1 {
    font-size: 25px;
  }

  .soc {
    font-size: 13px;
  }
  .about h2 {
    font-size: 28px;
  }
  .about p {
    font-size: 18px;
  }
  .abt-btn button {
    padding: 10px 40px;
    font-size: 15px;
  }
  .skills-sec h2 {
    font-size: 28px;
  }
  .skills {
    display: flex;
    flex-direction: column;
  }
  .skills p {
    font-size: 18px;
  }
  .ski {
    font-size: 30px;
  }
  .get-btn button {
    padding: 8px 50px;
    font-size: 18px;
  }

 
  .pro1-card h3{
    font-size: 18px;
  }
  .pro1-card-img img{
 width: 100%;
  }
 #contact{
    padding: 20px;
  
 }
  .footer-msg h2 {
    font-size: 26px;
  }
  .footer-msg p {
    font-size: 15px;
  }
  .contact-info h2{
    text-align: center;
  }
  .contact {
    flex-direction: column;
    gap: 5px;
    align-items: center;
    justify-content: center;
  }
  .contact p {
    font-size: 18px;
  }
  .con-socials {
    align-items: center;
    justify-content: center;
  }
  .cv{
    align-items: center;
    justify-content: center;
  }
  .cv p{
    font-size: 18px;
  }
  .get-in-touch-sec{
    width: 100%;
    margin:50px 0  ;
    padding: 10px;
  }
  .get-in-add{
    width: 100%;
   
  }
  .copyright {
    font-size: 16px;
  }
}
